#homepage {
  padding-top: 8rem
}

.hero-section {
  margin-bottom: 6rem;
}

.hero-section__headline {
  font-size: 3rem;
  font-weight: 700;
}

.hero-section__headshot-wrapper {
  max-width: 22rem;
}