$leftCalc: calc(100% / 9);
$topCalc: calc(100% / 5);

.combo-img__wrapper--4 {
  position: relative;

  .combo-img__shadow-wrapper {
    min-height: 600px;
    height: 100%;
    overflow: hidden;
  }

  .combo-img__img {
    position: absolute;
    width: 100%;
    height: auto;
    max-width: 75%;
  }

  .combo-img__img--2 {
    left: $leftCalc;
    top: $topCalc;
    z-index: 2;
  }

  .combo-img__img--3 {
    left: $leftCalc * 2;
    top: $topCalc * 2;
    z-index: 3;
  }
  
  .combo-img__img--4 {
    left: $leftCalc * 3;
    top: $topCalc * 3;
    z-index: 4;
  }
}