@import 'tailwindcss';

@theme static {
    --font-sans:
        'Sora', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-white: #ffffff;
    --color-blue-100: #e0efff;
    --color-blue-200: #a3ceff;
    --color-blue-300: #6ba6e8;
    --color-blue-400: #64adff;
    --color-blue-500: #0393ff;
    --color-blue-600: #0082f3;
    --color-blue-800: #002f70;
    --color-green-200: #c2fbe6;
    --color-green-300: #75fac8;
    --color-green-400: #4eedb1;
    --color-apricot: #ffd6ba;
    --color-rose-300: #f67984;
    --color-rose-500: #f45b69;
    --color-yellow-300: #ffb347;
    --color-yellow-500: #ff9f1c;
    --color-nickel-300: #818980;
    --color-nickel-500: #6c756b;
    --color-purple-300: #8f56c8;
    --color-purple-400: #8546c3;
    --color-purple-500: #7a3cb9;
}

/* Scaffolding for future DaisyUI themes */
@plugin "daisyui" {
    themes: false;
}

@plugin "daisyui/theme" {
    name: 'light-theme';
    default: true;
    prefersdark: false;
    color-scheme: light;

    /* Primary colors (blue theme) */
    --color-primary: #0393ff; /* --color-blue-500 */
    --color-primary-content: #ffffff; /* --color-white */
    --color-primary-focus: #0082f3; /* --color-blue-600 */

    /* Secondary colors (green theme) */
    --color-secondary: #4eedb1; /* --color-green-400 */
    --color-secondary-content: #002f70; /* --color-blue-800 */
    --color-secondary-focus: #75fac8; /* --color-green-300 */

    /* Accent colors (yellow theme) */
    --color-accent: #ff9f1c; /* --color-yellow-500 */
    --color-accent-content: #ffffff; /* --color-white */
    --color-accent-focus: #ffb347; /* --color-yellow-300 */

    /* Neutral colors */
    --color-neutral: #6c756b; /* --color-nickel-500 */
    --color-neutral-content: #ffffff; /* --color-white */
    --color-neutral-focus: #818980; /* --color-nickel-300 */

    /* Base colors */
    --color-base-100: #ffffff; /* --color-white */
    --color-base-200: #e0efff; /* --color-blue-100 */
    --color-base-300: #a3ceff; /* --color-blue-200 */
    --color-base-content: #002f70; /* --color-blue-800 */

    /* State colors */
    --color-info: #6ba6e8; /* --color-blue-300 */
    --color-info-content: #ffffff; /* --color-white */
    --color-success: #75fac8; /* --color-green-300 */
    --color-success-content: #002f70; /* --color-blue-800 */
    --color-warning: #ffb347; /* --color-yellow-300 */
    --color-warning-content: #ffffff; /* --color-white */
    --color-error: #f45b69; /* --color-rose-500 */
    --color-error-content: #ffffff;
}

html,
body {
    font-size: 16px;
}
